<header>
  <mat-toolbar color="primary" class="toolbar">
    <span>Portal de Gerência de Requisitos - PGR</span>
    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton"
    >
      <button mat-button matTooltip="Sair" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </ng-container>

    <ng-template #loginButton>
      <button
        mat-button
        matTooltip="Realize seu login no PGR"
        (click)="login()"
      >
        <mat-icon>login</mat-icon>
        Login
      </button>
    </ng-template>
  </mat-toolbar>
</header>
