
<form [formGroup]="loginForm" class = "container"(submit)="login()">
      <h1 class="title-bem_vindo">Bem-Vindo</h1>
      <div class="container-titles">
        <h2 class="title-login">Login</h2>
      </div>

          <input
            matInput
            placeholder="Email"
            formControlName="email"
            />

          <input
            matInput
            placeholder="Senha"
            formControlName ="senha"
            type="password"
          />
          <a class="link link-esqueceu-senha">Esqueceu sua senha?</a>

      <button class="link" [disabled]="loginForm.invalid">Entrar</button>
    </form>





