<form [formGroup]="cadastroForm" (submit)="register()">
  <div class="container">
    <p>Cadastro</p>
    <!-- Nome e Sobrenome com parte do cadastro ou trocar por nome de usuário? pensar em nickname é uma possibilidade?-->
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input formControlName ="nome" matInput placeholder="Insira seu primeiro nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sobrenome</mat-label>
      <input formControlName="sobrenome" matInput placeholder="Insira seu sobrenome">
    </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="xx@dominio.com.br" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput placeholder="Insira sua senha" />

      </mat-form-field>
      <button mat-raised-button [disabled]="cadastroForm.invalid">Entrar</button>
  </div>
</form>
