<form [formGroup]="cadastroForm" class="container" (submit)="register()">

    <h1>Criar Conta</h1>
    <!-- Nome e Sobrenome com parte do cadastro ou trocar por nome de usuário? pensar em nickname é uma possibilidade?-->

        <input formControlName ="nomeCompleto" matInput placeholder="Nome">
        <input formControlName = "instituicao" matInput placeholder="Instituição"/>

        <div class="linha-cidade-uf">
          <input formControlName = "UF" matInput placeholder="Estado"/>
          <input formControlName = "cidade" matInput placeholder="Cidade"/>
        </div>

        <input formControlName="email" matInput placeholder="Email" />
        <input formControlName="senha" matInput placeholder="Senha" />

      <button [disabled]="cadastroForm.invalid">Cadastrar</button>

</form>
